@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    box-sizing:border-box;
}

body{
font-family:'Raleway',sans-serif;
margin: 0;
padding:0;

}

header{
    text-align: center;
    border: 2px solid #ccc;
}


header h1{
text-transform: uppercase;

}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    padding: 10px 20px;
    color:#555
}

.listaSemPonto li{
    list-style: none;
    padding-top: 5px;
    
}
section#banner{
    width: 100%;
    height: 73vh;
    background-image: url('../img/jane.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section#concept, section#songs,main#contact{
    width: 900px;
    max-width: 100%;
    margin:30px auto;
}

.duas-colunas{
    overflow: hidden;
}
.duas-colunas >div{
    width: 50%;
    float: left;
}

section#songs img{
    width: 100%;
}

section#concept mark{
    background-color: rgb(209, 21, 115);
}

.img-about{
width: 40%;
margin-top: 50px;
}

main#about{
text-align: center;
}
main#about p{
    font-weight: bolder;
}

footer p{
padding: 10px;
margin: 0;
background-color: #f2f2f2;
text-align: center;
}

#music{
width: 900px;
margin: 0 auto
}
#contact{
margin-left: 80px;

}

section#form-mapa iframe{
    width: 100%;
    height: 400px;
}

form input[type="text"],
form textarea{
    width: 100%;
    margin:2px 0 10px;
    padding:5px;
}
form textarea{
    resize: none;
    height: 100px;
}
.form-group{
    width: 90%;
}
[type="submit"]{
border-radius: 5px;
    background-color:orangered;
    width: 100px;
    height: 50px;
    color: white;
}
main,
main#contact,
main#music{
    margin-top: 150px;
}




@media (max-width:900px){
section#concept,
section#sectionmusic,
#contact{
padding: 0 40px;
}

section#songs{
    padding: 0 40px;
    }

nav ul li{
    font-size: 24px;
}

h2{
font-size: 32px;
}
p{
    font-size: 18px;
}


}



@media(max-width: 760px){
.duas-colunas > div {
    width: 100%;
}
section#songs ol li{
    font-size: 24px;
}
main#music iframe{
    width: 100%;
}
main#music {
    width: 100%;
    padding: 0 40px;
}

main#music ul li,
main#music p {
    font-size: 24px;
}

main#contact{
    padding: 0 40px
}
main#contact form,
main#contact form input,
main#contact form textarea{
    font-size: 24px;
}

main#contact form .form-group{
    margin-bottom: 20px;
}
}

@media(max-width: 375px){
   main#about{
width: 100%;
   }
   .img-about{width: 400px;
height: 300px;}
section#sectionmusic ul li{
    font-size: 24px;
}
main#music p{
    font-size: 30px;
}

main#music iframe{
    width:100%;
}


}

header{

    text-align: center;
    position: fixed;
    width: 100%;
    display: block;
    background-color: #fff;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 20px rgb(0,0,0,0.5);
    }